html
{
    overflow-x: hidden;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}

html, body
{
    height: 100%;
}


 
       /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;

    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      color: green;
    }

    #sidebar{
    position:absolute;
    left:0;
    top:92px;
    bottom: 0;
    width:15%;

    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

   .navbar-right{
      font-size: 15px;
    }

  #welcomeMsg{
    color: white;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Joti One', cursive;
    padding-right: 20px;
  }

 h1{
  color: white;
  font-family: 'Joti One', cursive;
  font-size: 50px;
 }

  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }

#myBtn{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Joti One', cursive;

}

.modal-header{
  padding:35px 50px;
}

.modal-body{
  padding:40px 50px;
}

.test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on top */
  .test + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid green;
  }
  /* Tooltip on bottom */
  .test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
  }
  /* Tooltip on left */
  .test + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid red;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }

 .list-inline li{
  padding: 10px;
  margin-left: 5px;
  margin-top: 10px;
 }

 .embed-responsive-item{
  width: 650px; 
  height: 400px;
  margin-left: -80px;

 }

 .search span{
  background-color: #FFF;
  }

.search input{
  border-right-style:none;
  }

.stage-btn{
  padding-left: 20px;
  font-family: 'Joti One', cursive;
  font-size: 30px;
}

#main-stage{
  background: black;
 /* border: 1px solid black;*/
  width: 45%;
  margin-left: 18%;
  margin-bottom: 0px;
  height: 100%;
  padding-bottom: 0px;
  margin-top: 1%;
  height: 100%;
 

}

#chatBox{
  width: 33%;
  margin-left: 3%;
  padding-top: 0px;
  margin-top: 0%;
  height: auto;
  margin-right: -2%;
  float: right;

}

#chat-window{
  min-height: 1%;
  max-height: 1%;
}

.wrapper{
  width: 1000px;
  width: 600px;
  overflow: scroll;
  position: relative;
  height: 300px;
}

